[Unit]
Description=InvertirOnline database backup and restore
After=multi-user.target

[Service]
User=pi
Type=simple
ExecStart=/home/pi/Documents/develop/invertironline/venv/python main.py
Restart=always

[Install]
WantedBy=multi-user.target